# Enable rewrite engine
RewriteEngine On

# Redirect requests to .html when the .html file exists
# This works even if a directory with the same name exists
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{DOCUMENT_ROOT}/$1.html -f
RewriteRule ^(.*?)/?$ $1.html [NC,L]

# Custom error document
ErrorDocument 404 /~cis1951/404.html

# Internally rewrite requests to 404.html, while maintaining the 404 status
RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule ^404\.html$ - [R=404,L]